<div class="spinner-border" style="position:fixed;z-index:9999;left:50%;top:30%; color:#218838;" *ngIf="loading"
  role="status">
</div>
<h5 mat-dialog-title *ngIf="!isEditMode">{{'LEAVE.LEAVEGROUP.CREATE' | translate}}</h5>
<h5 mat-dialog-title *ngIf="isEditMode">{{'LEAVE.LEAVEGROUP.EDIT' | translate}}</h5>
<form class="employee-from" [formGroup]="leaveGroupCreateForm" enctype="multipart/form-data">
  <mat-dialog-content class="mat-typography">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'COMMON.SELECT.COMPANYID.PLACEHOLDER' | translate }}</mat-label>
        <mat-select matInput formControlName="companyId" [(value)]="companyId" (selectionChange)="onChangeCompany()"
          placeholder="{{ 'COMMON.SELECT.COMPANYID.PLACEHOLDER' | translate }}">
          <ng-container *ngFor="let company of companies">
            <mat-option value="{{company.id}}">{{company.companyName}}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="submitted && f.companyId.errors && f.companyId.errors.required">
          {{ 'COMMON.SELECT.COMPANYID.REQUIERED_ERROR_TEXT' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Leave Group Name</mat-label>
        <input matInput formControlName="leaveTypeGroupName" [(value)]="leaveGroup.leaveTypeGroupName"
          placeholder="Leave Group Name" [ngClass]="{'is-invalid': submitted && f.leaveTypeGroupName.errors}">
        <mat-error *ngIf="submitted && f.leaveTypeGroupName.errors && f.leaveTypeGroupName.errors.required">
          {{ 'LEAVE.LEAVEGROUP.ERROR.LEAVEGROUPNAMEERRORTEXT' | translate }}</mat-error>
        <mat-error *ngIf="submitted && f.leaveTypeGroupName.errors && f.leaveTypeGroupName.errors.maxlength">
          {{ 'LEAVE.LEAVEGROUP.ERROR.LEAVEGROUPNAMEMAXLENGTHERRORTEXT' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngIf="!isFormValid">
      <div class="d-flex">
        {{errorMessages}}
      </div>
    </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="close()">{{ 'COMMON.CANCEL_BUTTON_TEXT' | translate }}</button>
    <button mat-raised-button (click)="onSubmit()"
      class="btn btn-success">{{ 'COMMON.SAVE_BUTTON_TEXT' | translate }}</button>
  </mat-dialog-actions>
</form>
