<div class="spinner-border" style="position:fixed;z-index:9999;left:50%;top:30%; color:#218838;" *ngIf="loading"
  role="status">
</div>
<section *blockUI="'attendance-list-section'">
  <div class="row d-flex justify-content-between mt-3 mb-3">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <h1 id="tableLabel">Bill Claims</h1>
    </div>
    <div class="col-md-6 col-12 col-lg-3">
      <button mat-raised-button (click)="createBillClaims()" class="btn btn-success btn-block text-center"
        matTooltip="Add Bill Claim">
        <mat-icon class="create-icon-button">add</mat-icon>
        Add Bill Claim
      </button>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 pl-0" *ngIf="isAdmin">
    <app-search-filter [companyId]="companyId"></app-search-filter>
  </div>
  <form [formGroup]="billClaimsFilterFormGroup">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Employee</mat-label>
          <mat-select matInput formControlName="employeeId" [(value)]="employeeId" disabled
            placeholder="Select Employee" (selectionChange)="onChangeEmployee()">
            <ng-container *ngFor="let employee of employees">
              <mat-option value="{{employee.id}}">{{employee.fullName}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="submitted && f.employeeId.errors && f.employeeId.errors.required">
            {{ 'COMMON.SELECT.EMPLOYEEID.REQUIERED_ERROR_TEXT' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" (click)="startDatePicker.open()"
            (dateChange)="onChangeStartDate()" placeholder="Start Date" [ngClass]="{'is-invalid': f.startDate.errors}">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="submitted && f.startDate.errors && f.startDate.errors.required">
            Start date
            is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" (click)="endDatePicker.open()"
            (dateChange)="onChangeEndDate()" placeholder="End Date" [ngClass]="{'is-invalid': f.endDate.errors}">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error *ngIf="submitted && f.endDate.errors && f.endDate.errors.required">
            End date is
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-3  pt-2" *ngIf="showSearchAsEmployeeButton">
        <button type="button" *ngIf="!isReportingManager" (click)="getBenefitBillClaimsByEmployee()"
          class="btn btn-success full-width">Search</button>
        <button matTooltip="Get my own claimed bills" type="button" *ngIf="isReportingManager" (click)="getBenefitBillClaimsByEmployee()"
          class="btn btn-success full-width">Search (as employee)</button>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pt-2" *ngIf="isReportingManager">
        <button matTooltip="Get employees claimed bills" type="button" *ngIf="isReportingManager" (click)="search(true)"
          class="btn btn-success full-width">Search (as manager)</button>
      </div>
    </div>
  </form>
  <div class="table-responsive">
    <table class='table table-light table-hover table-responsive-sm text-nowrap' aria-labelledby="tableLabel">
      <thead>
        <tr class="table-secondary">
          <th class="text-center">{{ 'EMPLOYEE.EMPLOYEE.INDEX.TABLE.HEADER.ACTIONS' | translate }}</th>
          <th *ngIf="isAdmin || isPayrollManager">Employee</th>
          <th>Claim Amount</th>
          <th>Allocated Amount</th>
          <th *ngIf="isAdmin || isPayrollManager">Claim Date</th>
          <th>Bill Date</th>
          <th>Status</th>
          <th>Remarks</th>
          <th *ngIf="isAdmin && showDetails">{{ 'EMPLOYEE.EMPLOYEE.INDEX.TABLE.HEADER.BRANCH' | translate }}</th>
                <th *ngIf="isAdmin && showDetails">{{ 'EMPLOYEE.EMPLOYEE.INDEX.TABLE.HEADER.DEPARTMENT' | translate }}</th>
                <th *ngIf="isAdmin && showDetails">
                  {{ 'ATTENDANCE.EMPLOYEEATTENDANCE.INDEX.TABLE.HEADER.DESIGNATION' | translate }}</th>
                <th *ngIf="isAdmin && showDetails">{{ 'ATTENDANCE.EMPLOYEEATTENDANCE.INDEX.TABLE.HEADER.EMAIL' | translate }}
                </th>
                <th *ngIf="isAdmin && showDetails">{{ 'EMPLOYEE.EMPLOYEE.INDEX.TABLE.HEADER.EMPLOYEEID' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of billClaims | paginate: {id:'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems  }; let $index = index">
          <td class="text-center">
            <button  *ngIf="item.approvalStatus === '1'" mat-icon-button (click)="editOrApproveBillClaims(item)"
              matTooltip="{{ 'COMMON.EDIT_BUTTON_TEXT' | translate }}">
              <mat-icon>create</mat-icon>
            </button>
          </td>
          <td *ngIf="isAdmin">{{item.applicantName}}</td>
          <td>{{item.claimAmount === null ? 'N/A' :item.claimAmount }}</td>
          <td>{{item.allocatedAmount === null ? 'N/A' :item.allocatedAmount}}</td>
          <td *ngIf="isAdmin || isPayrollManager">
            {{item.claimDate === null ? 'N/A' :item.claimDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.billDate === null ? 'N/A' : item.billDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.approvalStatusText}}</td>
          <td>{{item.remarks}}</td>
          <td *ngIf="isAdmin">{{item.branchName}}</td>
                <td *ngIf="isAdmin && showDetails">{{item.departmentName}}</td>
                <td *ngIf="isAdmin && showDetails">{{item.designationName}}</td>
                <td *ngIf="isAdmin && showDetails">{{item.loginId}}</td>
                <td *ngIf="isAdmin && showDetails">{{item.companyEmployeeId}}</td>
        </tr>
        <tr *ngIf="billClaims.length==0">
          <td class="text-center text-info" colspan="12" *ngIf="searched">
            {{'PAYROLL.PAIDSALARY.INDEX.EMPTYMESSAGE' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-between" *ngIf="totalItems > 0">
    <div class="col-md-5 col-sm-5 text-left">
      {{totalItemsText}}
    </div>
    <div class="col-md-5 col-sm-5 text-left">
      <pagination-controls id="pagination" *ngIf="totalItems > 0" (pageChange)="pageChanged($event)"
        directionLinks="true" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
    <div class="col-md-2 col-sm-2 text-left">
      <mat-form-field>
        <mat-select [(ngModel)]="pageSize" (selectionChange)="onChangePaginationPerPage()" placeholder="Items Per Page">
          <mat-option *ngFor="let item of paginationPageNumbers" [value]="item.value">
            {{item.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</section>
