<div class="limiter">
  <div class="container-login" *ngIf="!formSubmitValid">
    <div class="wrap-login">
      <form class="login-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <span class="login-form-title p-b-14">
          <a [routerLink]="['/']"><img style="width:60%; height:60%" src="assets/images/logo.png" alt="logo"> </a>
        </span>

        <mat-error *ngIf="!formSubmitValid">
          <div class="d-flex">
            <ul class="mx-auto">
              <li *ngFor="let error of errorMessages">
                {{ error }}
              </li>
            </ul>
          </div>
        </mat-error>

        <div class="row justify-content-center">
          <span class="span-forgot">
            RESET YOUR PASSWORD
          </span>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email Address" formControlName="email" readonly required type="email">
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter 6 digit password"
                 formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Please enter password
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Retype Password</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Enter 6 digit password"
                 formControlName="confirmPassword" [errorStateMatcher]="matcher">
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="form.hasError('notSamePassword')">
            Passwords do not match
          </mat-error>
        </mat-form-field>


        <div class="container-login-form-btn">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>

            <button type="submit" class="login-form-btn">Reset My Password</button>

          </div>
        </div>
        <br />

        <div class="row" style="padding-bottom:10px">
          <div class="col-sm-12 col-xs-12 text-center">
            <a href="#" routerLink="/auth/login">Go Back To Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container-login" *ngIf="formSubmitValid">
    <div class="wrap-login">
      <div class="login-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <span class="login-form-title p-b-48">
          <a [routerLink]="['/']"><img style="width:60%; height:60%; padding-bottom:30px;" src="assets/images/logo.png" alt="logo"> </a>
        </span>
        <div class="row">
          <div class="text-center">
            <div class="alert alert-success" role="alert">
              Password has been reset successfully.
            </div>
          </div>
        </div>
        <br />

        <div class="row" style="padding-bottom:10px">
          <div class="col-sm-12 col-xs-12 text-center">
            <a href="#" routerLink="/auth/login">Go Back To Login</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
