<!--<div id="tableLabel" style="font-size:30px">Welcome to <span style="color:forestgreen">planetHR</span></div>
<br />
<h3 id="tableLabel">Ultimate HR & Payroll solution of your Company</h3>

<br />
<br />
<div class="text-center" style="padding-top:150px; color:dodgerblue"><h4>{{ 'HOME.DASHBOARDCOMINGSOON' | translate }}</h4></div>-->

<div style="padding-top:40px;"></div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4 text-center">Welcome to <span style="color:forestgreen">planetHR</span></h2>
    <h2 class="card-title h2 text-center">
      Ultimate HR & Payroll solution of your Company
    </h2>
    <div class="text-center" style="    padding-top: 140px; padding-bottom:100px;
    color: forestgreen"><h4>{{ 'HOME.DASHBOARDCOMINGSOON' | translate }}</h4></div>
  </div>
</div>
