@charset "UTF-8";

/**
 * -----------------------------------------------------------------------------
 * Form
 * -----------------------------------------------------------------------------
 */
.form-group {
  margin: 0 0 0.5rem 0;
}

.field-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

  .field-group .field-group-item {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 0.25rem;
  }

    .field-group .field-group-item:first-of-type {
      margin-left: 0;
    }

    .field-group .field-group-item:last-of-type {
      margin-right: 0;
    }

.button-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .button-group {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.button-group .button-group-item {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 0 0.25rem;
}

@media screen and (min-width: 992px) {
  .button-group .button-group-item {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.button-group .button-group-item:first-of-type {
  margin-left: 0;
}

.button-group .button-group-item:last-of-type {
  margin-right: 0;
}

label,
legend {
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262423;
}

@media screen and (min-width: 992px) {

  label,
  legend {
    margin: 0;
  }
}

.form-control:focus,
.form-control:active,
.form-control-file:focus,
.form-control-file:active {
  box-shadow: none !important;
  outline: none !important;
  background: transparent;
}

.form-control {
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  overflow-x: hidden;
  resize: none;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #DDDDDD;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #262423;
  background-color: #F8F8F8;
  transition: 0.4s;
}

  .form-control:-ms-input-placeholder {
    color: #A8A7A6;
  }

  .form-control::placeholder {
    color: #A8A7A6;
  }

  .form-control:focus,
  .form-control:active {
    border-color: #DDDDDD;
    background-color: #FFFFFF;
  }

  .form-control:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
  }

  .form-control.error {
    border-color: #E86E6E;
  }

    .form-control.error:focus,
    .form-control.error:active {
      border-color: #D32F2F;
    }

.form-control-file {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  font-size: 0;
}

.form-control-file-trigger {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-width: 0.0625rem;
  border-color: #DDDDDD;
  border-radius: 0.1875rem;
  border-style: solid;
  background-color: #DDDDDD;
  cursor: pointer;
}

  .form-control-file-trigger::before {
    font-size: 1.5rem;
    color: #A8A7A6;
  }

.form-control-file-instructions {
  margin-top: 1rem;
  font-size: 0.75rem;
  color: #686665;
}

@media screen and (min-width: 992px) {
  .form-control-file-instructions {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.input-icon {
  position: relative;
}

  .input-icon::before,
  .input-icon::after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 1rem;
    color: #A8A7A6;
  }

  .input-icon::before {
    left: 0;
    padding: 0.25rem 0.75rem;
  }

  .input-icon::after {
    right: 0;
    padding: 0.25rem 0.75rem;
  }

.input-icon-select::after {
  content: "";
  font-size: 0.5rem;
}

.input-icon.icon-prepend .form-control,
.input-icon[class^='icon-prepend-'] .form-control,
.input-icon[class*=' icon-prepend-'] .form-control {
  padding-left: 2.5rem;
}

.input-icon.icon-append .form-control,
.input-icon[class^='icon-append-'] .form-control,
.input-icon[class*=' icon-append-'] .form-control {
  padding-right: 2.5rem;
}

textarea.form-control {
  height: auto;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
}

  select.form-control::-ms-expand {
    display: none;
  }

/**
 * -----------------------------------------------------------------------------
 * Button
 * -----------------------------------------------------------------------------
 */
.button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-width: 0.0625rem;
  border-style: solid;
  border-radius: 0.1875rem;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (min-width: 992px) {
  .button {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: auto;
    padding: 0 2rem;
  }
}

.button:hover,
.button:focus,
.button:active {
  outline: none;
  text-decoration: none;
}

.button.block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}

.button.inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: auto;
}

.button.plain {
  border: none;
  color: #262423;
  background: transparent;
}

.button.small {
  height: 2rem;
  padding: 0 1.5rem;
}

.button.primary.solid {
  border-color: transparent;
  color: #FFFFFF;
  background-color: #9D2933;
}

  .button.primary.solid:hover,
  .button.primary.solid:focus,
  .button.primary.solid:active {
    background-color: #61070A;
  }

.button.primary.outline {
  border-color: #9D2933;
  color: #9D2933;
  background-color: transparent;
}

  .button.primary.outline:hover,
  .button.primary.outline:focus,
  .button.primary.outline:active {
    color: #61070A;
    border-color: #61070A;
  }

.button.secondary.solid {
  border-color: transparent;
  color: #FFFFFF;
  background-color: #FFB61E;
}

  .button.secondary.solid:hover,
  .button.secondary.solid:focus,
  .button.secondary.solid:active {
    background-color: #FF8204;
  }

.button.secondary.outline {
  border-color: #FFB61E;
  color: #FFB61E;
  background-color: transparent;
}

  .button.secondary.outline:hover,
  .button.secondary.outline:focus,
  .button.secondary.outline:active {
    color: #FF8204;
    border-color: #FF8204;
  }

.button.tertiary.solid {
  border-color: transparent;
  color: #FFFFFF;
  background-color: #262423;
}

  .button.tertiary.solid:hover,
  .button.tertiary.solid:focus,
  .button.tertiary.solid:active {
    background-color: #686665;
  }

.button.tertiary.outline {
  border-color: #262423;
  color: #262423;
  background-color: transparent;
}

  .button.tertiary.outline:hover,
  .button.tertiary.outline:focus,
  .button.tertiary.outline:active {
    color: #686665;
    border-color: #686665;
  }

.button.quaternary.solid {
  border-color: transparent;
  color: #FFFFFF;
  background-color: #DDDDDD;
}

  .button.quaternary.solid:hover,
  .button.quaternary.solid:focus,
  .button.quaternary.solid:active {
    background-color: #A8A7A6;
  }

.button.quaternary.outline {
  border-color: #DDDDDD;
  color: #DDDDDD;
  background-color: transparent;
}

  .button.quaternary.outline:hover,
  .button.quaternary.outline:focus,
  .button.quaternary.outline:active {
    color: #A8A7A6;
    border-color: #A8A7A6;
  }

.button.quaternary.solid,
.button.quaternary.outline {
  color: #262423;
}

  .button.quaternary.solid:hover,
  .button.quaternary.solid:focus,
  .button.quaternary.solid:active,
  .button.quaternary.outline:hover,
  .button.quaternary.outline:focus,
  .button.quaternary.outline:active {
    color: #262423;
  }

/**
 * -----------------------------------------------------------------------------
 * Dropdown
 * -----------------------------------------------------------------------------
 */
.dropdown {
  cursor: pointer;
}

.dropdown-toggle {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #686665;
}

  .dropdown-toggle::after {
    width: auto;
    height: auto;
    border: none;
    vertical-align: middle;
    font-size: 0.375rem;
    color: #A8A7A6;
  }

.dropdown-menu {
  width: 15rem;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0.1875rem 0.3125rem 0px rgba(0, 0, 0, 0.15);
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #F1F1F1;
  border-radius: 0.25rem;
}

  .dropdown-menu ul {
    margin: 0;
    padding: 0;
  }

  .dropdown-menu.show ul {
    max-height: 50vh;
    overflow: auto;
  }

  .dropdown-menu ul li {
    list-style-type: none;
  }

.dropdown-title {
  margin: 0;
  padding: 0.75rem 0.75rem 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #686665;
}

.dropdown-search {
  margin: 0;
  padding: 0.75rem;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  border-bottom-color: #F1F1F1;
}

  .dropdown-search::after {
    right: 0.75rem;
  }

.dropdown-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0.75rem;
  white-space: normal;
  font-size: 0.875rem;
  font-weight: 500;
  border-left-width: 0.1875rem;
  border-left-style: solid;
  border-left-color: transparent;
  border-top-width: 0.0625rem;
  border-top-style: solid;
  border-top-color: #F1F1F1;
  color: #686665;
  background-color: #F8F8F8;
  transition: 0.4s;
}

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #686665;
    background-color: #FFFFFF;
  }

  .dropdown-item:first-of-type {
    border-top-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .dropdown-item:last-of-type {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .dropdown-item a {
    display: block;
    color: #686665;
  }

    .dropdown-item a:hover {
      text-decoration: none;
    }

  .dropdown-item.active {
    border-left-color: #C86672;
    font-weight: 600;
    color: #C86672;
    background-color: #FFFFFF;
  }

.dropdown .txt,
.dropdown .img,
.dropdown .ico {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

  .dropdown .txt a {
    display: inline;
    color: #9D2933;
  }

    .dropdown .txt a:hover {
      text-decoration: underline;
    }

.dropdown .img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
}

.dropdown .ico::before {
  font-size: 1.5rem;
  color: #686665;
}

.dropdown .lbl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0.75rem;
}

.dropdown .chk {
  display: none;
}

  .dropdown .chk ~ .ico::before {
    content: "";
    color: #A8A7A6;
  }

  .dropdown .chk:checked ~ .ico {
    font-weight: 600;
    color: #C86672;
  }

    .dropdown .chk:checked ~ .ico::before {
      content: "";
      color: #C86672;
    }

.dropdown.imgtxt .img {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0.25rem 1rem 0 0;
}

.dropdown.icotxt .ico::before {
  margin: 0 1rem 0 0;
}

.dropdown.icotxt .dropdown-item.active .ico::before {
  color: #C86672;
}

.dropdown.chktxt .dropdown-item {
  padding: 0;
}

  .dropdown.chktxt .dropdown-item.active {
    border-left-color: transparent;
  }

.dropdown.chktxt .ico {
  display: -ms-flexbox;
  display: flex;
}

  .dropdown.chktxt .ico::before {
    margin: 0 0.5rem 0 0;
    content: "";
    color: #A8A7A6;
  }

.dropdown.chktxt .chk:checked ~ .ico {
  font-weight: 600;
  color: #C86672;
}

  .dropdown.chktxt .chk:checked ~ .ico::before {
    content: "";
    color: #C86672;
  }

.dropdown.chkimgtxt .dropdown-item.active {
  border-left-color: #C86672 !important;
}

.dropdown.chkimgtxt .ico::before {
  display: none;
}

.data-table {
  width: 100%;
  border: 1px solid #F1F1F1;
}

  .data-table th,
  .data-table td {
    padding: 0.75rem;
  }

    .data-table th.right,
    .data-table td.right {
      text-align: right;
    }

    .data-table th.center,
    .data-table td.center {
      text-align: center;
    }

  .data-table thead tr {
    border-bottom: 0.125rem solid #F1F1F1;
  }

    .data-table thead tr th {
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #686665;
    }

  .data-table tbody tr {
    border-top: 0.0625rem solid #F1F1F1;
  }

    .data-table tbody tr td {
      font-size: 0.875rem;
    }

      .data-table tbody tr td .button {
        height: 2rem;
      }

      .data-table tbody tr td.actions .dropdown-toggle::after {
        font-size: 0.875rem;
        color: #A8A7A6;
      }

      .data-table tbody tr td.actions .dropdown-menu {
        width: auto;
      }

      .data-table tbody tr td.actions .ico::before {
        font-size: 0.75rem;
      }

      .data-table tbody tr td.actions .txt {
        font-size: 0.75rem;
      }

  .data-table.collapsible > tbody > tr:nth-child(odd) td:first-of-type {
    width: 0.625rem;
  }

    .data-table.collapsible > tbody > tr:nth-child(odd) td:first-of-type::before {
      margin: 0;
      font-size: 0.625rem;
      content: "";
      color: #A8A7A6;
      cursor: pointer;
    }

  .data-table.collapsible > tbody > tr:nth-child(even) {
    display: none;
  }

    .data-table.collapsible > tbody > tr:nth-child(even) .columns {
      display: -ms-grid;
      display: grid;
      grid-gap: 1.5rem;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
    }

@media screen and (min-width: 992px) {
  .data-table.collapsible > tbody > tr:nth-child(even) .columns {
    display: none;
  }
}

.data-table.collapsible > tbody > tr.active {
  background-color: #F8F8F8;
}

  .data-table.collapsible > tbody > tr.active td {
    font-weight: 600;
    color: #9D2933;
  }

    .data-table.collapsible > tbody > tr.active td:first-of-type::before {
      content: "";
      color: #686665;
    }

  .data-table.collapsible > tbody > tr.active + tr {
    display: table-row;
    background-color: #F8F8F8;
  }

.xHR-modal .data-table {
  border-color: #DDDDDD;
  background-color: #F8F8F8;
}

  .xHR-modal .data-table thead tr {
    border-bottom-color: #DDDDDD;
  }

  .xHR-modal .data-table tbody tr {
    border-top-color: #DDDDDD;
  }

.txtImgCircular30 {
  /*line-height: 80px;
  width: 80px;*/
  text-align: center;
  background-color: #ebe89f;
  color: #9D2933;
  font-size: 30px;
  margin: auto;
  padding: 12px 20px;
  vertical-align: middle;
  border-radius: 30px;
}

.txtImg80 {
  /*line-height: 80px;
  width: 80px;*/
  text-align: center;
  background-color: #ebe89f;
  color: #9D2933;
  font-size: 40px;
  margin: auto;
  padding: 12px 20px;
  vertical-align: middle;
}

.txtImg24 {
  line-height: 24px;
  width: 24px;
  text-align: center;
  background-color: #ebe89f;
  color: #9D2933;
  font-size: 15px;
  margin: auto;
  padding: 4px;
  vertical-align: middle;
}
/**
 * -----------------------------------------------------------------------------
 * Modal
 * -----------------------------------------------------------------------------
 */
.xHR-modal {
  overflow-y: hidden;
}

.modal-content {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  border-width: 0;
}

.modal-header {
  -ms-flex-align: center;
  align-items: center;
  height: 4rem;
  padding: 0 0 0 1.25rem;
  border-bottom-color: #DDDDDD;
  background-color: #FFFFFF;
}

  .modal-header .close {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4rem;
    height: auto;
    padding: 0;
    margin: 0;
    text-shadow: none;
    opacity: 1;
  }

    .modal-header .close::before {
      margin: 0;
      font-size: 0.75rem;
      color: #686665;
    }

    .modal-header .close:hover {
      opacity: 1;
    }

.modal-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #686665;
}

.modal-body {
  padding: 1.25rem;
  /* overflow-y: auto; */
  background-color: #F1F1F1;
}

.modal-footer {
  /* padding-top: 0;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; */
  padding: 0 !important;
  border-top: none;
  border-radius: 0.25rem;
  background-color: #F1F1F1;
}

@media screen and (min-width: 992px) {
  .modal-footer {
    padding-top: 0;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-top: none;
    border-radius: 0.25rem;
    background-color: #F1F1F1;
  }
}
