<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IsDBBatch" value="false" />
    <add key="RepetitionIntervalTime" value="100000" />
    <!--Need to change Data Source G:\AZHAR\0 planetHR Clients\steps\UNIS.mdb-->
    <add key="SourceConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Persist Security Info=True;Jet OLEDB:Database Password=unisamho;Data Source=G:\AZHAR\0 planetHR Clients\steps\UNIS.mdb;" />
    <!--need to change url-->
    <add key="ApiUrl" value="http://stepsapi.planethrms.com/" />
    <add key="IsAutoStart" value="true" />
    <add key="ActiveClassName" value="PushPunchDataJob" />
    <add key="ScriptsFileName" value="punchDeviceData_Steps.sql" />
    <!--Need to change company value-->
    <add key="CompanyId" value="1" />
    <!--By default 4 days. if you want to pick more previous day, please change value 4-->
    <add key="BackDayNumber" value="230" />
    <add key="LogFileName" value="log.txt" />
  </appSettings>
</configuration>