<!--<h1 id="tableLabel">Divisions</h1>

<a  (click)="createDivision()">New Division</a>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Localized Name</th>
      <th>Company</th>
      <th>Sort Order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of divisions">
      <td></td>
      <td>{{item.divisionName}}</td>
      <td>{{item.divisionNameLC}}</td>
      <td>{{item.companyId}}</td>
      <td>{{item.sortOrder}}</td>
      <td></td>
    </tr>
  </tbody>
</table>-->

