<div class="spinner-border" style="position:fixed;z-index:9999;left:50%;top:30%; color:#218838;" *ngIf="loading"
  role="status">
</div>
<h5 mat-dialog-title *ngIf = "employees.isCurrentMonth">New Employees Current Month</h5>
<h5 mat-dialog-title *ngIf = "!employees.isCurrentMonth">New Employees Current Year</h5>
<section *blockUI="'branch-list-section'">
  <table class='table' aria-labelledby="tableLabel" style="max-height: 550px;">
    <thead>
      <tr class="table-secondary">
        <th class="font-weight-bold">S/L</th>
        <th class="font-weight-bold">Name</th>
        <th class="font-weight-bold">Designation</th>
        <th class="font-weight-bold">Joining Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employees; let $index = index">
        <td>{{$index+1}}</td>
        <td class="word-break">{{item.fullName}}</td>
        <td class="word-break">{{item.designationName}}</td>
        <td class="word-break">{{item.joiningDate | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="close()">{{ 'COMMON.CANCEL_BUTTON_TEXT' | translate }}</button>
  </mat-dialog-actions>
</section>