<div class="spinner-border" style="position:fixed;z-index:9999;left:50%;top:30%; color:#218838;" *ngIf="loading"
  role="status">
</div>
<div class="row float-right m-1 p-2">
  <button mat-raised-button (click)="createCompanyAddress()"
    matTooltip="{{ 'COMPANY.COMPANYADDRESS.INDEX.CREATE_BUTTON_TOOLTIP' | translate }}" class="btn btn-success">
    <mat-icon class="create-icon-small-button">add</mat-icon>
    {{ 'COMPANY.COMPANYADDRESS.INDEX.CREATE_BUTTON_TOOLTIP' | translate }}
  </button>
</div>

<section *blockUI="'company-address-section'">
  <table class='table table-light table-hover table-responsive-sm text-nowrap' aria-labelledby="tableLabel">
    <thead>
      <tr class="table-secondary">
        <th class="text-center">{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.ACTIONS' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.ADDRESSLINE1' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.ADDRESSLINE2' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.VILLAGE' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.POSTOFFICE' | translate }}</th>
        <!-- <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.COUNTRY' | translate }}</th>              "ADDRESS_TYPE":"Address Type"
--> 
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.DISTRICT' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.THANA' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.ADDRESS_TYPE' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.LATITUDE' | translate }}</th>
        <th>{{ 'EMPLOYEE.EMPLOYEEADDRESS.INDEX.TABLE.HEADER.LONGITUDE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of companyAddresses">
        <td class="pt-0 text-center">
          <button mat-icon-button (click)="editCompanyAddress(item)"
                  matTooltip="{{ 'COMPANY.COMPANYADDRESS.INDEX.EDIT_BUTTON_TOOLTIP' | translate }}">
            <mat-icon>create</mat-icon>
          </button>

          <button mat-icon-button (click)="onDeleteCompanyAddress(item)"
                  matTooltip="{{ 'COMPANY.COMPANYADDRESS.INDEX.DELETE_BUTTON_TOOLTIP' | translate }}">
            <mat-icon class="mat-icon-delete">delete</mat-icon>
          </button>
        </td>

        <td>{{item.addressLine1}}</td>
        <td>{{item.addressLine2}}</td>
        <td>{{item.village}}</td>
        <td>{{item.postOffice}}</td>
        <!-- <td>{{item.countryName}}</td> -->
        <td>{{item.districtName}}</td>
        <td>{{item.thanaName}}</td> 
        <td>{{item.addressTypeName}}</td> 
        <td>{{item.latitude}}</td>
        <td>{{item.longitude}}</td>
      </tr>
      <tr *ngIf="companyAddresses.length==0">
        <td colspan="11" class="text-center">{{ 'COMPANY.COMPANYADDRESS.INDEX.TABLE.NODATAFOUNDTEXT' | translate }}</td>
      </tr>
    </tbody>
    <mat-error *ngIf="!isFormValid">
      <div class="d-flex">
       
          {{errorMessages}}
          
      </div>
  </mat-error>
  </table>
</section>
