<div class="spinner-border"  style="position:fixed;z-index:9999;left:50%;top:30%; color:#218838;" *ngIf="loading" role="status">
  
</div>
<h5 mat-dialog-title *ngIf="!isEditMode">
    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMEMPLOYEECONFIGURATION.CREATE_TITLE' | translate }}</h5>
<h5 mat-dialog-title *ngIf="isEditMode">Edit Custom Employee Configuration
</h5>
<form class="configuration-from" [formGroup]="configurationCreateForm" enctype="multipart/form-data">
    <mat-dialog-content class="mat-typography">

        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'COMMON.SELECT.COMPANYID.PLACEHOLDER' | translate }}</mat-label>
                <mat-select matInput formControlName="companyId"
                    placeholder="{{ 'COMMON.SELECT.COMPANYID.PLACEHOLDER' | translate }}"
                    [(value)]="customEmployeeConfiguration.companyId" (selectionChange)="onChangeCompany()" [disabled]="true">
                    <ng-container *ngFor="let company of companies">
                        <mat-option value="{{company.id}}">{{company.companyName}}</mat-option>
                    </ng-container>
                </mat-select>
                <mat-error *ngIf="submitted && f.companyId.errors && f.companyId.errors.required">Company is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CODE.PLACEHOLDER' | translate }}
                </mat-label>
                <input [attr.readOnly]="true" matInput formControlName="code" [(value)]="customEmployeeConfiguration.code" 
                    placeholder="{{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CODE.PLACEHOLDER' | translate }}"
                    [ngClass]="{'is-invalid': submitted && f.code.errors}"/>
                <mat-error *ngIf="submitted && f.code.errors && f.code.errors.required">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CODE.REQUIERED_ERROR_TEXT' | translate }}
                </mat-error>
                <mat-error *ngIf="submitted && f.code.errors && f.code.errors.maxlength">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CODE.MAXLENGTH_ERROR_TEXT' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DEFAULTVALUE.PLACEHOLDER' | translate }}
                </mat-label>
                <input matInput formControlName="defaultValue" [(value)]="customEmployeeConfiguration.defaultValue"
                    placeholder="{{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DEFAULTVALUE.PLACEHOLDER' | translate }}"
                    >
                <mat-error *ngIf="submitted  && f.defaultValue.errors && f.defaultValue.errors.required">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DEFAULTVALUE.REQUIERED_ERROR_TEXT' | translate }}
                </mat-error>
                <mat-error *ngIf="submitted  && f.defaultValue.errors && f.defaultValue.errors.maxlength">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DEFAULTVALUE.MAXLENGTH_ERROR_TEXT' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
<div class="form-group">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'LEAVE.LEAVEBALANCE.INDEX.EMPLOYEE.PLACEHOLDER' | translate }}</mat-label>
        <mat-select placeholder="{{ 'LEAVE.LEAVEBALANCE.INDEX.EMPLOYEE.PLACEHOLDER' | translate }}"
          formControlName="employeeId" (selectionChange)="onChangeEmployee($event)" [disabled]="!this.createEmployee">
          <mat-option *ngFor="let item of employees" [value]="item.id">
            {{item.fullName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.employeeId.errors">
          {{ 'LEAVE.LEAVEBALANCE.INDEX.EMPLOYEE.ERROR_TEXT' | translate }}
        </mat-error>
      </mat-form-field>

</div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CUSTOMVALUE.PLACEHOLDER' | translate }}
                </mat-label>
                <input matInput formControlName="customValue" [(value)]="customValue"
                    placeholder="{{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CUSTOMVALUE.PLACEHOLDER' | translate }}"
                    [ngClass]="{'is-invalid': submitted && f.customValue.errors}">
                <mat-error *ngIf="submitted  && f.customValue.errors && f.customValue.errors.required">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CUSTOMVALUE.REQUIERED_ERROR_TEXT' | translate }}
                </mat-error>
                <mat-error *ngIf="submitted  && f.customValue.errors && f.customValue.errors.maxlength">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.CUSTOMVALUE.MAXLENGTH_ERROR_TEXT' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DESCRIPTION.PLACEHOLDER' | translate }}
                </mat-label>
                <input matInput formControlName="description" [(value)]="customEmployeeConfiguration.description"
                    placeholder="{{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
                    [ngClass]="{'is-invalid': submitted && f.description.errors}">
                <mat-error *ngIf="submitted  && f.description.errors && f.description.errors.required">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DESCRIPTION.REQUIERED_ERROR_TEXT' | translate }}
                </mat-error>
                <mat-error *ngIf="submitted  && f.description.errors && f.description.errors.maxlength">
                    {{ 'COMPANY.CONFIGURATION.CREATECUSTOMCONFIGURATION.CREATE_FORM.DESCRIPTION.MAXLENGTH_ERROR_TEXT' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate"
                        [(value)]="customEmployeeConfiguration.startDate" (click)="startDate.open()" placeholder="Start Date"
                        [ngClass]="{'is-invalid': f.startDate.errors}">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error *ngIf="submitted && f.startDate.errors && f.startDate.errors.required">Start
                        date is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate"
                        [(value)]="customEmployeeConfiguration.endDate" (click)="endDate.open()" placeholder="End Date"
                        [ngClass]="{'is-invalid': f.endDate.errors}">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error *ngIf="submitted && f.endDate.errors && f.endDate.errors.required">
                        End date is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <mat-error *ngIf="!isFormValid">
            <div class="d-flex">
             
                {{errorMessages}}
                
            </div>
        </mat-error>
        
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close
            (click)="close()">{{ 'COMMON.CANCEL_BUTTON_TEXT' | translate }}</button>
        <button mat-raised-button (click)="onSubmit()"
            class="btn btn-success">{{ 'COMMON.SAVE_BUTTON_TEXT' | translate }}</button>
    </mat-dialog-actions>
</form>