<div class="spinner-border"  style="position:fixed;z-index:9999;left:50%;top:30%; color:#218838;" *ngIf="loading" role="status">
  
</div>

<h1>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TITLE' | translate}}</h1>

<form [formGroup]="employeeFileHistoryFilterFormGroup" class="mt-5">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-2" >
      
      <mat-form-field appearance="outline">
        <mat-label> {{ 'COMPANY.COMPANY.CREATE.CREATE_FORM.COMPANYNAME.PLACEHOLDER' | translate }}</mat-label>
        <mat-select placeholder="{{'COMMON.SELECT.COMPANYID.PLACEHOLDER' | translate }}" formControlName="companyId"
         >
          <mat-option *ngFor="let item of companies" [value]="item.id">
            {{item.companyName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.companyId.errors && f.companyId.errors.required">Company is required</mat-error>
      </mat-form-field>
    </div>
    
    </div>
    </form>




    <div  class="table-responsive">
    <table class='table table-light table-hover table-responsive-sm text-nowrap' aria-labelledby="tableLabel">
      <thead>
        <tr class="table-secondary">
         
          <th class="text-center">{{ 'EMPLOYEE.EMPLOYEE.INDEX.TABLE.HEADER.ACTIONS' | translate }}</th>
          <th>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.FILE_NAME' | translate}}</th>
          <th >{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.FILE_TYPE' | translate}}</th>
          <th>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.COMMENTS' | translate}}</th>
          <th>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.STATUS' | translate}}</th>
          <th>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.TOTAL_RECORD' | translate}}</th>
          <th>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.TOTAL_SUCCESS' | translate}}</th>
          <th>{{'EMPLOYEE.EMPLOYEEIMPORTFILEHISTORY.INDEX.TABLE.HEADER.TOTAL_FAIL' | translate}}</th>
         
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeImportFiles | paginate: {id:'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems  }; let $index = index">
          <td class="pl-0 pr-0 px-0 py-0 text-center">
          <button   mat-icon-button (click)="downloadFileHistoryDetails(item)"
                matTooltip="Download">
                <mat-icon>cloud_download</mat-icon>
              </button>
              </td>
          <td>{{item.fileName}}</td> 
          <td>{{item.fileType}}</td>
          <td>{{item?.comments}}</td>
          <td>{{item.status === 'R' ? 'Running' :item.status }}</td>
          <td>{{item.totalRecord}}</td>
         
       
          <td>{{item.totalSuccess}}</td>
          <td>{{item.totalFail}}</td>
          
        </tr>
        <tr *ngIf="employeeImportFiles && employeeImportFiles.length === 0">
          <td class="text-center" colspan="12" >No records found</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="row justify-content-between" *ngIf="totalItems > 0">
      <div class="col-md-5 col-sm-5 text-left">
        {{totalItemsText}}
      </div>
    
      <div class="col-md-5 col-sm-5 text-left">
        <pagination-controls id="pagination" *ngIf="totalItems > 0" (pageChange)="pageChanged($event)"
          directionLinks="true" previousLabel="" nextLabel="">
        </pagination-controls>
      </div>
    
      <div class="col-md-2 col-sm-2 text-left">
        <mat-form-field>
          <mat-select [(ngModel)]="pageSize" (selectionChange)="onChangePaginationPerPage()" placeholder="{{ 'PAGINATION.PLACEHOLDER' | translate }}">
            <mat-option *ngFor="let item of paginationPageNumbers" [value]="item.value">
              {{item.text}}
            </mat-option>
          </mat-select>
    
        </mat-form-field>
      </div>
    </div>
